@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "S-CoreDream-3Light", serif;
}

body {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#account {
    float: right

}


.title {

    text-align: center;
    margin: 30px auto 30px;
}

#main_wrap{
    display:flex;
    flex-direction: column;
    border: solid 1px;
    margin: 0 auto;
}


.add_ingredient_input_div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 99.7%;
    height: 50px;
    margin: 0 auto;
}


#add_ingredient_input {
    width: 70%;
    border: none;
    text-align: center;
}

#add_ingredient_button{
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    border: none;
    padding: 0;
    margin: 0;
}

#add_ingredient_preview_div{
    width: 600px;
    min-height: 150px;
    margin: 0 auto;
    border: 1px solid;
}

.viewer_btn{
    width:600px;
    height:30px;
    margin: 0 auto;
}